#add_friend{width:91px;height:20px;position:fixed;right:0;bottom:200px;}
#share{width:106px;position:fixed;right:0;bottom:160px;}
.socialmedialink div{display:inline-block;}
.socialmedialink a{font-size:30px;margin:5px;display:inline;text-decoration:none;color:#555;}
.socialmedialink a :hover{font-size:30px;text-decoration:none;color:#999;}
.carousel-item {height:80vh;min-height:300px;background:no-repeat center center scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}