{% load staticfiles %}

<footer class="bg-light">

    <div class="container-fluid pt-4">

        <div class="row justify-content-end">
            <div class="col-4 text-center">
                <h6 style="font-family:cwTeXHei">追蹤我們</h6>
            </div>
            <div class="col-4">
                <h6 style="font-family:cwTeXHei">加入好友</h6>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-4 socialmedialink text-center">
                <div><a href="https://www.facebook.com/Crazy-Mama-%E7%98%8B%E7%8B%82%E5%A4%A7%E5%AA%BD-350597032017008/"
                        target="_blank" title="Follow us on facebook"><span class="icon-facebook2"></span></a></div>
            </div>
            <div class="col-4">
                <a href="https://line.me/R/ti/p/%40nxj1299l"
                   target="_blank">
                    <img class="rounded" src="/static/images/icon/Line@.jpg" alt="Line@"
                         style="height:100px;width:100px;">
                </a>
            </div>
        </div>
        <p class="text-muted">
            <small>Copyright © 2017 CRAZYMAMA Inc. All rights reserved.</small>
        </p>
    </div>

    <div id="add_friend">
        <div class="line-it-button" data-lang="zh_Hant" data-type="friend" data-lineid="@nxj1299l"
             style="display: none;"></div>
    </div>

    <div id="share" class="social-likes social-likes_vertical" data-counters="no">
        <div data-service="facebook" title="Share on Facebook">Facebook</div>
    </div>

</footer>
<!-- Latest compiled CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/ProductCSS.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Chicle|Coda+Caption:800|Courgette|Galada|Gochi+Hand|Gravitas+One|Permanent+Marker|Rock+Salt|Shojumaru|Sonsie+One|Catamaran|Lato"
      rel="stylesheet">
<!-- JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.scrollme.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async"
        defer="defer"></script>