<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="#home">X spacce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="index.html">Home</a>
                </li>
                <li class="nav-item px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
                </li>
                <li class="nav-item px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="blog.html">Blog</a>
                </li>
                <li class="nav-item px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>