<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <h1 style="font-family: 'Rock Salt';"><a class="navbar-brand font-weight-bold text-center" href="{% url 'index' %}">X spacce</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="#item">Item</a>
                </li>
                <li class="nav-item px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="#item1">Item1</a>
                </li>
                <li class="nav-item px-lg-4 px-md-2">
                    <a class="nav-link text-uppercase text-expanded" href="#item2">Item2</a>
                </li>
            </ul>
        </div>
    </div>
</nav>