{% extends 'base.html' %}

{% block header %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center" style="height:67vh">

        <div class="col-10 col-md-8 col-lg-6 alert alert-success">
            <h4 class="alert-heading">訂購成功!!</h4>
            <p>您所訂購的商品將於3個工作天內寄出，如有任何疑問請加LINE好友詢問。LINE ID：＠</p>

            <a href="{% url 'index' %}" class="btn btn-success btn-sm pull-right mt-4" role="button">確認</a>
        </div>

    </div>
{% endblock %}

